@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
html, body {
    width: 100%;
    height: 100%;
}

.login-form .login-left-side .image1 {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.login-form .login-left-side .image2 {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.login-form .login-left-side .image4 {
    position: absolute;
    width: 432px;
    height: 105px;
    left: 13.06%;
    top: 47%;
}

.login-form .login-right-side {
    position: absolute;
    width: 863px;
    height: 1024px;
    left: 825px;
    top: 0px;
    background: #f7eded;
}

.login-right-side .login-back > a{
    position: absolute;
    text-decoration: none;
    left: 4%;
    right: 8.33%;
    top: 6%;
    bottom: 8.33%;
    color: #C32270;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.login-right-side .title-login {
    position: absolute;
    width: 428px;
    height: 104px;
    left: 225px;
    top: 194px;
}

.title-text-login {
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 70px;
}

.username input[type=text] {
    position: absolute;
    width: 760px;
    height: 55px;
    left: 65px;
    top: 427px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 22px;
}

.email input[type=text] {
    position: absolute;
    width: 760px;
    height: 55px;
    left: 65px;
    top: 500px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 22px;
}

.phone input[type=tel] {
    position: absolute;
    width: 760px;
    height: 55px;
    left: 65px;
    top: 573px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 22px;
}

.password input[type=password] {
    position: absolute;
    width: 760px;
    height: 55px;
    left: 65px;
    top: 646px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 22px;
}

.confirmPassword input[type=password] {
    position: absolute;
    width: 760px;
    height: 55px;
    left: 65px;
    top: 719px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 22px;
}

input[type=submit] {
    position: absolute;
    width: 760px;
    height: 55px;
    left: 65px;
    top: 810px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    background-color: #C32270;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.forgetPassword {
    position: absolute;
    width: 141px;
    height: 23px;
    left: 350px;
    top: 660px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: black;
}

.input-container {
    position: relative;
}

.icon-image-username {
    position: absolute;
    left: 88px;
    top: 455px;
    transform: translateY(-50%);
    z-index: 1;
}

.icon-image-email {
    position: absolute;
    left: 83px;
    top: 527px;
    transform: translateY(-50%);
    z-index: 1;
}

.icon-image-phone {
    position: absolute;
    left: 88px;
    top: 601px;
    transform: translateY(-50%);
    z-index: 1;
}

.icon-image-password {
    position: absolute;
    left: 86px;
    top: 672px;
    transform: translateY(-50%);
    z-index: 1;
}

.icon-image-confirmPassword {
    position: absolute;
    left: 86px;
    top: 745px;
    transform: translateY(-50%);
    z-index: 1;
}

.registerAccount {
    position: absolute;
    width: 141px;
    height: 23px;
    left: 500px;
    top: 660px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: black;
}

.login-back > a{
    width: 185px;
    height: 38px;
}




